.card-text{
  display: -webkit-box;
  -webkit-line-clamp: 2; /* Number of lines to show */
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

::ng-deep .p-paginator .p-paginator-pages .p-paginator-page.p-highlight{
       background: none!important;
     border-color: none!important;
     color: #007ad9;
}
::ng-deep .p-paginator {
  background: none!important;
  color: #333333;
  border:none!important
}
::ng-deep .p-link:focus{
  box-shadow: none!important;
}
::ng-deep .p-paginator .p-paginator-pages .p-paginator-page:not(.p-highlight):hover {
  background: none!important;
}
