<div class="row">
    <div class="col-xs-12">
        <img src="https://img.freepik.com/free-photo/showing-cart-trolley-shopping-online-sign-graphic_53876-133967.jpg" style="width:100%;height:30rem">
    </div>
    <div class="col-xs-12">
        <p style="font-size:16px;line-height:32px;font-weight:bold">E-commerce typically uses the web for at least a part of a transaction's life cycle although it may also use other technologies such as e-mail.Typical e-commerce transactions include the purchase of products (such as books from Amazon) or services (such as music downloads in the form of digital distribution such as the iTunes Store).There are three areas of e-commerce: online retailing, electronic markets, and online auctions. E-commerce is supported by electronic business.The existence value of e-commerce is to allow consumers to shop online and pay online through the Internet, saving the time and space of customers and enterprises, greatly improving transaction efficiency, especially for busy office workers, and also saving a lot of valuable time.</p>
    </div>
</div>